@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@100@200@300@400@500@600@700@800,;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito sans',sans-serif;
    
}
body{
    background-color: #f2f4f5;
    font-family: 'Nunito sans',sans-serif;
}
.header hr{
    color:black;
    margin-top: -10px;
    margin-bottom: 0px; 
    padding-bottom: 0px;
}
.airtel_part a{
    text-decoration: none; 
    color: #6d6c6c;
    cursor: pointer;
}

.header{
 width: 100%;
 position: fixed;
 top: 0%;
 z-index: 100;
 height: 100px;
 background-color: #fff;
}

.airtel_part{
    background-color:#f5f5f5    ;
    min-height: 24px;
    display: flex;
    float: right;
    width: 100%;
    position: relative;
    margin-bottom: 1%;
}
.airtel_part ul{
    font-size: 10px;
    gap: 10px;
    position: absolute;
    left:57%;
    top:5px;
    list-style: none;
    text-transform:capitalize;
    display: flex;
    font-family: tondo, sans-serif;
    font-style: normal;
    font-weight: 300;

}
.airtel_part a:hover{
    color: black;
    text-decoration: none;
    font-weight:545;
    transition: .1s;
}
.main-content{
    width: 100%;
    display: flex;
}
.main-content .logo{
    width: 10%;
    /* background-color: red; */
    /* float: left; */
}
.main-content .logo img{
    width: 92px;
    /* height: 25px; */
    margin-top: 3%;
    margin-right: 3%;
}
.content-list{
    width: 70%;
    margin-left: 15px;
    /* background-color: yellowgreen; */
}
.prepaid h3{
    padding: 0%;
    /* padding-bottom: 20%; */
    padding: 20% 0 20% 0;
    margin: 0%;
    margin-top: -20%; 
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
    font-size: 14px;
    float: left;
    
}
.prepaid:hover{
    color: red;
}
.prepaid h3:hover{
    color: red;
}
.prepaid ul,li {
    list-style: none;
}
.prepaid{
    /* display: flex; */
    float: left;
    /* display: inline-block; */
    margin-right: 15px;
    margin-top: 10px;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    /* padding: 30px; */
    /* padding-top:15px ; */
}

.prepaid svg{
    margin-top: -1px;
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.list li:hover{
    color: red;
}

.submenu ul {
    display: block;
    margin-top: 35px;
    margin-left: -80px;


}
.submenu ul li{
    padding: 10px;
}
.sub-list-1,
.sub-list-2,
.sub-list-3,
.sub-list-4,
.sub-list-5,
.sub-list-6,
.sub-list-7
{
    /* display:block; */
    display: flex;
    position:absolute;
    flex-direction: column;
    color: black;
    /* float: left; */
    /* margin-left: 10px; */
    left:22%;
    top: 54%;
    text-align: left;
    
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 3px,
                rgba(0, 0, 0, 0.3) -1px 0px 3px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.sub-list-2{
    left:30%;

}
.sub-list-3{
    left: 40%;
}
.sub-list-4{
    left: 50%;
}
.sub-list-5{
    left: 55%;
}
.sub-list-6{
    left: 60%;
}
.sub-list-7{
    left: 70%;
}
.submenu{
    display: none;
}
.sub-menu-1,.prepaid:hover .submenu{
    display: block;
    /* transition:100ms; */
    cursor:pointer;
    /* box-shadow: 3px 5px black; */
    
    /* margin-top: 15px; */
    /* position: absolute; */
    
}
.prepaid:hover .down-svg{
    /* display: block; */
    transform: rotate(180deg);
    transition: 350ms;
    /* color: blue; */
    /* height: 100px; */
    
}

.option{
    display: flex;
    gap: 15px;

    /* float: left; */
}
.option a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    
}
.option a #get-img{
    margin-left:4px;
}
.option a:hover{
    text-decoration: none;
    color: black;
}
.image-slider{
    height: 140px;
    /* position: relative; */
    /* top:100px; */
    margin-top: 100px;
}
.image-slider img{
    height: 100%;
    margin-top: 500px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    margin-top: 100px;

}
.carousel-control.left{
    background-image: transparent;
    background: none;
}

.carousel-control.right{
    background-image: transparent;
    background: none;
}


.something{
    margin-top: -2px;
    height: 150px;
    width: 100%;
    display: flex;
    
    background-image: linear-gradient(135deg,#b00,#8d0000);
    
}
.something .sometext{
    
    width: 50%;
    height: 100%;
    
    
    
}

.something .sometext h1,h2{
    
    color: #fff;
    margin-left: 30%;
    

}
.something .sometext h1{
    margin-top: 5%;
    /* line-height: 2; */
}
.bnt-danger{
    background-color:red;
}
.btn-danger{
    background-color: red;
}
.something .someform{
    width: 50%;
    height: 100%;

}
.something .someform .form-menu{
    /* border: 5px solid yellow; */
    height: 40%;
    width: 70%;

}
.something .someform .recharge-box{
    height: 60%;
    width: 70%;
    border-radius: 5px;
}
.remenu{
width: 100%;
height: 60%;
display: flex;
justify-content: center;
align-items: center;
background-color: #fff ;
border-radius: 10px;


}
.something .someform .recharge-box .remenu input {
    border: none;
    margin: 10px;
    width: 70%;
    font-size: 16px;
    margin-left: 4%;
    text-transform: capitalize;
    border: none;
    border-top: none;
}
.something .someform .recharge-box .remenu form{
    width: 100%;
    display: flex;
    
}
.something .someform .recharge-box .remenu button{
    /* height: 40px; */
    width: 100px;
    margin: 10px;
}
.form-menu ul{
    display: flex;
    justify-content: space-between;
    padding: 0 0 8px;
    margin: 0 0 12px;
    width: 100%;
    /* height: 42px; */
    border-radius:0;
    padding-top: 0px;
    margin-top: 4%;
    
}
.form-menu ul li{
    margin-top: 1px;
    /* background-color: #fff; */
    border: 2px solid #fff;
    padding: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    border-radius: 5px;
}
a .square{
    background-color: red
}
.quick-actions-container {
    margin-left: 7%;
    background-color: yellow;
    
}
.quick-actions-container ul li{
    /* display: flex; */
    /* background-color: yellow; */
    /* height: 30vh; */
    float: left;
    padding: 18px;
    margin-right: 16px;
    margin-bottom: 16px;

}
.li-box{
    height: 130px;
    width: 160px;
    background-color:#fff;
    gap: 10px;
    /* margin-bottom: 5px; */
    display: flex;
    border-radius: 5px;
    box-shadow:  0 0 9px 0 #d7d7d780;
}
.quick-actions-container ul li p{
    margin-top: 16px;
}
.square p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: normal;
    color: #393939;
    margin-top: 16px;
}
.quick-actions-container a:hover{
    text-decoration: none;
}
.li-box:hover{
    transform: scale(1.05);
}
.airtel-black-box-content{
    width: 100%;
    height: 593px;
    background-color: #101010;
    /* float: left; */
    display: flex;

}
.airtel-black-box-content .container{
    display: inline-flex;
}
.text-content{
    height: 100%;
    width: 50%;
    /* background-color: navy; */
    /* border: 2px solid navy; */
    padding: 80px 40px 80px 0;
     /* display: inline-block; */
     
}
.text-content  .heading{
    font-size: 36px;
    line-height: 48px;
    margin-top: 60px;
    color: #fff;
    
}
.text-content a{
    margin-top: 60px;
    /* border: 2px solid yellowgreen; */
    padding: 18px 44px;
    background: radial-gradient(87.5% 87.5% at 29.69% 6.25%,#970000 0,#400707 100%);
    color: #fff;
    border-radius: 50px;
    /* margin: 24px auto 0; */
    margin: 43px 0px;

    font-size: 18px;
    letter-spacing: .08em;
}
.text-content .sub-heading {
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;
    color: #979797;
    margin-bottom: 60px;
}

.img-content{
    height: 100%;
    width: 50%;
}
.img-content img{
    margin-top: 25%;
}
.airtel-prepaid-box {
    display: flex;

}
.airtel-prepaid-box .container{
    /* display: inline-flex; */
    padding: 40px 40px 0 0;
    /* position: relative; */

}
.airtel-prepaid-box .container .heading{
    width: 100%;
    /* float: left; */
    margin: 0 0 35px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.09;
    letter-spacing: normal;
    text-transform: uppercase;
    color: #000;
}
/* .airtel-prepaid-box .container .heading::before{
    content: "";
    border: 2px solid red;
    width: 30px;
    height: 2px;
    background-color: red;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 35px;
} */
.underline{
    /* content: ""; */
    border: 2px solid red;
    width: 30px;
    margin-top: -3%;
    margin-bottom: 40px;
    height: 2px;
    background-color: red;
    border-radius: 2px;
    /* position: absolute; */
    left: 0;
}
.rel{
    position: relative;
}
.box-content-head h4{
    float: left;
    width: 100%;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.47;
    letter-spacing: normal;
    color: #000;
    padding: 0;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.box-content-head p{
    width: 100%;
    float: left;
    font-size: 18px;
    /* font-weight: 600; */
    line-height: 1.5;
    letter-spacing: normal;
    color: #393939;
    margin: 0 0 40px;
    padding: 0;
}
.box-content-head h5{
    float: left;
    width: 100%;
    margin: 0 0 10px;

    padding: 0;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.25;
    letter-spacing: normal;
    color: #696969;
}
.best-selling-plan{
    float: left;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 0 0 0;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.33;
    letter-spacing: normal;
    color: #393939;
}
.blocks-main{
    display: inline-flex;
    /* justify-content: space-between; */
}

.block3 img{
    display: block;
    margin-right: auto;
 

}

.block {
    flex: 0 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    min-height: 120px;
    margin: 0 20px 50px 0;
    padding: 18px;
    border-radius: 4px;
    box-shadow: 0 0 9px 0 hsl(0deg 0% 84% / 50%);
    background-color: #fff;
    text-align: center;
}
.block p{
    float: left;
    width: 100%;
    padding: 0;
    font-weight: 100;
    letter-spacing: normal;
    text-align: center;

    margin: 0 0 10px;
    font-size: 12px;
    color: #696969;
}
.block h4 {
    margin: 0 0 17px;
    font-size: 34px;
    font-weight: 100;
    line-height: .79;
    color: #393939;
}
.block a {
    color: #e40000;
}
.view-more {
    float: left;
    width: 100%;
    margin: 33px 0 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: normal;
    color: #393939;
    text-align: left!important;
}
.postpaid-girl{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 40%;
    min-height: 200px;
    width: 100%;
}
.international-roaming-main{
    height: 507px;
    background-image: linear-gradient(100deg,#b00,#8d0000),
                      linear-gradient(100deg,#8aaebb,#89adba);

}
.international-roaming-main .image {
    /* width: 314px; */
    /* height: 457px; */
    margin-top: 25px;
    background-color: #fff;
    display:inline-block;
    position: relative;
    padding: 15px;
    float: left;
    margin-left: 25px;

}
.international-roaming-main .image img{
    border-top: 1px solid red;
    border-right: 1px solid red;
    position: relative;
    /* margin-top: 0px; */

}
.international-roaming-main .image .img-responsive{
    margin-top: 0px;
}
.right-text{
    margin:0px 0px 0px 226px;
    float: left;
    width: 50%;

}
.right-text p{
    width: 100%;
    position: relative;
    float: left;
    margin: 95px 0 40px;
    font-size: 22px;
    font-weight: 400;
    /* line-height: 1.09; */
    letter-spacing: normal;
    color: #fff;
    text-transform: uppercase;
}
.right-text  h4 {
    float: left;
    width: 100%;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.47;
    letter-spacing: normal;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 20px;
}
.right-text a:hover{
    /* color: #fff; */
    /* padding: 10px 5px; */
    text-decoration: none;
}
.button a h5    {
    background-color: #fff;
    display: inline-block;
    padding: 15px 25px;
    color: red;
    border-radius: 5px;
   
}
.button a h5:hover   {
    transition: .5s;
    background-color:red;
    color: #fff;
   
}
.airtel-xstream-main{
    /* height: 725px; */
    height: 650px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 8%);
}

.xstream-cover .logo,
.xstream-cover .heading,
.xstream-cover .xstream-banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.xstream-blocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    padding:12px;
    border-radius: 8px;
    align-items: center;
    min-width: 100px;
    flex: 1 1;
    

    /* margin-top: 50px; */

}
.xstream-blocks-1 img,
.xstream-blocks-2 img{
    width: 140px;
    height: 90px;
}
.xstream-blocks-3 img{
    height: 90px;
}
.xstream-product{
    display: flex;
    gap: 20px;
    margin-top: -84px;
}
   

.xstream-product .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e40001;
    color: #fff;
    border-radius: 4px;
    padding: 14px 24px;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
}
.xstream-cover .heading{
    font-size: 34px;
    font-weight: 600;
    line-height: 1.09;
    letter-spacing: normal;
    color: #393939;
    text-transform: uppercase;
}
.airtel-xstream-inner{
    margin: 40px 0 0;
}
.xstream-product .btn:hover{
    background-color: #333;
    color: #fff;
    transition: .5s;
    /* background-color: yellow; */
}
.talk-unlimited-main{
    /* height: 500px; */
    height: 400px;
    /* background-image: url(/images/airtel-postpaid-girl.webp); */
    /* height: auto; */
    /* padding: 100px 0; */
    /* background-color: red; */
    /* background-image: url(/images/white-pattern.svg); */
     background-image: linear-gradient(100deg,#b00,#8d0000),
                        linear-gradient(100deg,#8aaebb,#89adba);
    margin-top: 195px;
    display: flex;
}
.talk-unlimited-main .container{
    display: inline-flex;
}
.talk-unlimited-main .container .left{
    /* background-color: bisque; */
    height: 80%;
    width: 35%;
    /* width: 40%; */
    /* float: left; */
    margin: 65px 0 0 25px;
    /* display: inline-flex;  */
}
.talk-unlimited-main .container .right{
    width: 65%;
    height: 100%;
    /* background-color: yellow; */
    /* float: right; */
}
.talk-unlimited-main .container .left .underline-3{
    margin-bottom: 0%;
    margin-top: 50px;
    border: 2px solid #fff;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;

    
}
.talk-unlimited-main .container .left p,
.talk-unlimited-main .container .left h1,
.talk-unlimited-main .container .left h3 {
    float: left;
    width: 100%;
    font-weight: 600;
    letter-spacing: normal;
    color: #fff;
}
.talk-unlimited-main .container .left p{
    font-size: 18px;
    line-height: 1.44;
}
.talk-unlimited-main .container .left .icu-charges{
    font-size: 10px; 
    font-weight: 400;
    line-height: 3.2;
    letter-spacing: normal;
    color: #fff;
}
.talk-unlimited-main .container .left a {}
.talk-unlimited-main .container .left a h4{
    background-color: #fff;
    display: inline-block;
    padding: 15px 25px;
    color: red;
    border-radius: 5px;
    font-size: 14px;
}
.talk-unlimited-main .container .right img{
    margin-top: 18px;
    display: block;
    float: left;
    margin-left: 20px;
}
.talk-unlimited-main .container .left a h4:hover{
    transition: .5s;
    background-color:red;
    color: #fff;
}

