@media only screen and (max-width: 1450px){
    .form-menu ul li{
        font-size: 12px;
    }
}




@media only screen and (max-width: 1180px){
    .prepaid h3{
        font-size: 12px;
    }
    .form-menu ul li{
        font-size: 9.5px;
    }
    .quick-actions-container ul li{
        margin-right: 14px;
    }
}




@media only screen and (max-width: 1000px){
    .prepaid h3{
        font-size: 10px;
        margin-right: 4px;
    }
    .prepaid svg{
        margin-left: 0px;

    }
    .main-content .logo img {
        width: 75px;
    }
    .header .container{
        width: 82%;

    }
    .form-menu ul li img {
        display: none;
    }
    .form-menu ul li{
        font-size: 12px;
    }
    .something .someform .form-menu{
        height: 30%;
        margin-top: 2%;
    }
    .quick-actions-container ul li{
        margin-right: 14px;
    }
    .form-menu ul{
        margin-top: 7%;
    }
    .something .sometext h1{
        margin-top: 8%;
    }
    .li-box{
        width: 115px;
    }
    .square p{
        font-size: 14px;
    }
}



@media only screen and (max-width: 955px){
    .prepaid h3{
        font-size: 10px;
        margin-right: 4px;
    }
    .prepaid svg{
        margin-left: 0px;

    }
    .main-content .logo img {
        width: 75px;
    }
    .header .container{
        width: 87%;

    }
    .form-menu ul li img {
        display: none;
    }
    .form-menu ul li{
        font-size: 9.5px;
    }
    .something .someform .form-menu{
        height: 30%;
        margin-top: 2%;
    }
    .quick-actions-container ul li{
        margin-right: 14px;
    }
    .form-menu ul{
        margin-top: 7%;
    }
    .something .sometext h1{
        margin-top: 8%;
    }
    .li-box{
        width: 115px;
    }
    .square p{
        font-size: 14px;
    }
}





@media only screen and (max-width: 855px){
    
    .airtel_part ul{
        left: 50%; 

    }
    .prepaid h3{
        font-size: 10px;
        margin-right: 4px;
    }
    .prepaid svg{
        margin-left: 0px;

    }
    .main-content .logo img {
        width: 75px;
    }
    .header .container{
        width: 95%;

    }
    .form-menu ul li img {
        display: none;
    }
    .form-menu ul li{
        font-size: 9.5px;
    }
    .something .someform .form-menu{
        height: 30%;
        margin-top: 2%;
    }
    .quick-actions-container ul li{
        margin-right: 14px;
    }
    .form-menu ul{
        margin-top: 7%;
    }
    .something .sometext h1{
        margin-top: 8%;
    }
    .li-box{
        width: 115px;
    }
    .square p{
        font-size: 14px;
    }
}




@media only screen and (max-width: 800px){
    .prepaid h3{
        font-size: 9px;
        margin-right: 4px;
    }
    .prepaid svg{
        margin-left: 0px;

    }
    .main-content .logo img {
        width: 75px;
    }
    .header .container{
        width: 100%;

    }

    .form-menu ul li img {
        display: none;
    }
    .form-menu ul li{
        font-size: 9.5px;
    }
    .something .someform .form-menu{
        height: 30%;
        margin-top: 2%;
    }
    .quick-actions-container ul li{
        margin-right: 14px;
    }
    .form-menu ul{
        margin-top: 7%;
    }
    .something .sometext h1{
        margin-top: 8%;
    }
    .li-box{
        width: 115px;
    }
    .square p{
        font-size: 14px;
    }
}





@media only screen and (max-width: 700px){
    .prepaid h3{
        font-size: 10px;
        margin-right: 4px;
    }
    .prepaid svg{
        margin-left: 0px;

    }
    .main-content .logo img {
        width: 75px;
    }
    .header .container{
        width: 82%;

    }
    .form-menu ul li img {
        display: none;
    }
    .form-menu ul li{
        font-size: 9.5px;
    }
    .something .someform .form-menu{
        height: 30%;
        margin-top: 2%;
    }
    .quick-actions-container ul li{
        margin-right: 14px;
    }
    .form-menu ul{
        margin-top: 7%;
    }
    .something .sometext h1{
        margin-top: 8%;
    }
    .li-box{
        width: 115px;
    }
    .square p{
        font-size: 14px;
    }
}





@media only screen and (max-width: 550px){
    .airtel_part{
        display: none;
    }
    .airtel_part ul{
        left: 13%; 
    }
    .prepaid h3{
        display: none;
    }
    .content-list{
        display: none;
    }
    .main-content .logo img {
        width: 125px;
        margin-top: 45%;
        margin-left: -75%;
    }
    .prepaid svg{
        margin-left: 0px;

    }
    .header{
        height: 60px;
    }
   
    .header .container{
        width: 86%;

    }
    .option{
        margin-left: 53%;
        height: 30px;
    }
    .option a #get-img {
        margin-left: 13px;
    }
    .option a img{
        margin: 0 0 0 0px;
    }
    .option a p{
        margin: 0 0 0 0;
    }
    .something .sometext{
        display: none;
    }
    .something .someform {
        width: 500px;
        height: 100%;
        /* display: flex; */
        justify-self: center;
        margin-left: 2%;
    }
    .ljk h1{
        font-size: 25px;
    }
    .form-menu ul li img {
        display: block;
        height: 10px;
        

    }
    .form-menu ul li{
        font-size: 9.5px;
        display: flex;
        font-size: 8px;
    }
    .something .someform .form-menu{
        height: 30%;
        width: 98%;
        margin-top: 2%;
    }
    .quick-actions-container ul li{
        /* margin-right: 14px; */
        margin-right: 20px;
        display: block;
        width: 95px;
        padding: 14px;
    }
    .form-menu ul{
        margin-top: 7%;
        display: flex;
    }
    .something .sometext h1{
        margin-top: 8%;
    }
    .li-box{
        width: 115px;
    }
    .square p{
        font-size: 12px;
    }
    .something .someform .recharge-box{
        width: 98%;
        margin-right: 2%;
    }
    .international-roaming-main{
        height: auto;
    }
    .right-text{
        margin: 0 0 0 15px;
        width: 100%;
        /* align-self: center; */
        /* text-align: center; */
    }
    .right-text p{
        margin: 40px 0 20px;
    }
    .right-text h4 {
        font-size: 24px; 
        margin: 0px 0 10px;
    }
    .button a h5 {
        padding: 10px 20px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .text-content .heading {
        font-size: 25px;
        line-height: 35px;
    }
    .text-content a{
        margin: 45px 0 0 45px;
        font-size: 15px;
    }
    .text-content {
        width: 100%;
        padding: 40px 20px 40px 0;
    }
    .img-content{
        display: none;
    }
    .postpaid-girl{
        display: none;
    }
    .underline{
        margin-top: -5%;
        margin-bottom: 10px;
    
    }
    .airtel-prepaid-box .container {
        padding: 40px 40px 0 10px;
        width: 100%;
    }
    .box-content-head h4{
        margin: 0 0 10px;
    }
    .box-content-head p{
        margin: 0 0 20px;
        
    }
    .block{
        max-width: 115px;
        max-height: 130px;
        /* flex: 1 0; */
    }
    .block p{
        margin: 5px 0 10px;
        font-size: 9px;
    }
    .block h4 {
        margin: 0 0 5px;
    }
    .xstream-cover .heading {
        font-size: 18px;
    }
    .xstream-banner img{
        /* margin: 0 0 0 40px; */
        overflow-x: hidden;
    }
    .xstream-blocks-1 img, .xstream-blocks-2 img {
        width: 110px;
        height: 80px;
    }
    .talk-unlimited-main{
        margin-top: 40px;
        height: auto;
    }
    .talk-unlimited-main .container .right img {
        /* display: none; */
        width: 100%;
        height: 150px;
        margin: 0 0 0 20%;
    }

    .talk-unlimited-main .container {
        display: block;
    }
    .talk-unlimited-main .container .left{
        height: 50%;
        width: 100%;
        margin: 25px 0 0 15px
    }
    .underline-3{
        display: none;
    }
}

/* 955 */